<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="fragment-menu">
    <nav class="sidebar js-sidebar" id="sidebar">
        <div class="sidebar-content js-simplebar">
            <a class="sidebar-brand" href="/">
                <span class="align-middle">대동아이앤씨 관리자페이지</span>
            </a>

            <ul class="sidebar-nav">
                <li class="sidebar-header">
                    Pages
                </li>

                <li class="sidebar-item" th:classappend="${active == 'index'} ? active">>
                    <a class="sidebar-link" href="/">
                        <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                    </a>
                </li>

                <li class="sidebar-item" th:classappend="${active == 'products'} ? active">
                    <a class="sidebar-link" href="/products">
                        <i class="align-middle" data-feather="package"></i> <span class="align-middle">products</span>
                    </a>
                </li>

                <li class="sidebar-item" th:classappend="${active == 'profile'} ? active">
                    <a class="sidebar-link" href="/pages-profile">
                        <i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
                    </a>
                </li>

                <!--                <li class="sidebar-item">-->
                <!--                    <a class="sidebar-link" href="/admin/login">-->
                <!--                        <i class="align-middle" data-feather="log-in"></i> <span class="align-middle">Sign In</span>-->
                <!--                    </a>-->
                <!--                </li>-->

                <!--                <li class="sidebar-item">-->
                <!--                    <a class="sidebar-link" href="/pages-sign-up">-->
                <!--                        <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">Sign Up</span>-->
                <!--                    </a>-->
                <!--                </li>-->

                <li class="sidebar-item" th:classappend="${active == 'pages-blank'} ? active">
                    <a class="sidebar-link" href="/pages-blank">
                        <i class="align-middle" data-feather="book"></i> <span class="align-middle">Blank</span>
                    </a>
                </li>

                <li class="sidebar-header">
                    Tools & Components
                </li>

                <li class="sidebar-item" th:classappend="${active == 'ui-buttons'} ? active">
                    <a class="sidebar-link" href="/ui-buttons">
                        <i class="align-middle" data-feather="square"></i> <span class="align-middle">Buttons</span>
                    </a>
                </li>

                <li class="sidebar-item" th:classappend="${active == 'ui-forms'} ? active">
                    <a class="sidebar-link" href="/ui-forms">
                        <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">Forms</span>
                    </a>
                </li>

                <li class="sidebar-item" th:classappend="${active == 'ui-cards'} ? active">
                    <a class="sidebar-link" href="/ui-cards">
                        <i class="align-middle" data-feather="grid"></i> <span class="align-middle">Cards</span>
                    </a>
                </li>

                <li class="sidebar-item" th:classappend="${active == 'ui-typography'} ? active">
                    <a class="sidebar-link" href="/ui-typography">
                        <i class="align-middle" data-feather="align-left"></i> <span
                            class="align-middle">Typography</span>
                    </a>
                </li>

                <li class="sidebar-item" th:classappend="${active == 'icons-feather'} ? active">
                    <a class="sidebar-link" href="/icons-feather">
                        <i class="align-middle" data-feather="coffee"></i> <span class="align-middle">Icons</span>
                    </a>
                </li>

                <li class="sidebar-header">
                    Plugins & Addons
                </li>

                <li class="sidebar-item" th:classappend="${active == 'charts-chartjs'} ? active">
                    <a class="sidebar-link" href="/charts-chartjs">
                        <i class="align-middle" data-feather="bar-chart-2"></i> <span class="align-middle">Charts</span>
                    </a>
                </li>

                <li class="sidebar-item" th:classappend="${active == 'maps-google'} ? active">
                    <a class="sidebar-link" href="/maps-google">
                        <i class="align-middle" data-feather="map"></i> <span class="align-middle">Maps</span>
                    </a>
                </li>
            </ul>

            <div class="sidebar-cta">
                <div class="sidebar-cta-content">
                    <strong class="d-inline-block mb-2">Upgrade to Pro</strong>
                    <div class="mb-3 text-sm">
                        Are you looking for more components? Check out our premium version.
                    </div>
                    <div class="d-grid">
                        <a class="btn btn-primary" href="/upgrade-to-pro">Upgrade to Pro</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
</html>