<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="fragment-nav">
    <nav class="navbar navbar-expand navbar-light navbar-bg">
        <a class="sidebar-toggle js-sidebar-toggle">
            <i class="hamburger align-self-center"></i>
        </a>
        <form class="d-none d-sm-inline-block">
            <div class="input-group input-group-navbar">
                <input aria-label="Search" class="form-control" placeholder="Search…" type="text">
                <button class="btn" type="button">
                    <svg class="feather feather-search align-middle" fill="none" height="24" stroke="currentColor"
                         stroke-linecap="round"
                         stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                         xmlns="http://www.w3.org/2000/svg">
                        <circle cx="11" cy="11" r="8"></circle>
                        <line x1="21" x2="16.65" y1="21" y2="16.65"></line>
                    </svg>
                </button>
            </div>
        </form>
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav navbar-align">
                <li class="nav-item dropdown">
                    <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" data-bs-toggle="dropdown" href="#">
                        <i class="align-middle" data-feather="menu"></i>
                    </a>

                    <a class="nav-link dropdown-toggle d-none d-sm-inline-block" data-bs-toggle="dropdown" href="#">
                        <i class="align-middle" data-feather="menu"></i>
                        <!--                        <img alt="Charles Hall" class="avatar img-fluid rounded me-1"-->
                        <!--                             src="/img/avatars/avatar.jpg"/> <span class="text-dark">Charles Hall</span>-->
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <div class="dropdown-item" id="logoutDiv"><i class="align-middle" data-feather="log-out"></i>
                            로그아웃
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <script>
        $('#logoutDiv').on('click', function () {
            $.ajax({
                type: 'POST',
                url: '/api/v1/admin/logout',
            }).done(function () {
                window.location.href = '/admin/login';
            });
        })
    </script>
</div>
</html>