<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:insert="~{/fragments/header::fragment-header}"/>
</head>

<body>
<div class="wrapper">
    <div th:insert="~{/fragments/menu::fragment-menu(active='ui-forms')}"></div>

    <div class="main">
        <div th:insert="~{/fragments/nav::fragment-nav}"></div>

        <main class="content">
            <div class="container-fluid p-0">

                <div class="mb-3">
                    <h1 class="h3 d-inline align-middle">Forms</h1>
                    <a class="badge bg-dark text-white ms-2" href="upgrade-to-pro.html">
                        Get more form examples
                    </a>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Input</h5>
                            </div>
                            <div class="card-body">
                                <input class="form-control" placeholder="Input" type="text">
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Textarea</h5>
                            </div>
                            <div class="card-body">
                                <textarea class="form-control" placeholder="Textarea" rows="2"></textarea>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Checkboxes</h5>
                            </div>
                            <div class="card-body">
                                <div>
                                    <label class="form-check">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-label">
              Option one is this and that&mdash;be sure to include why it's great
            </span>
                                    </label>
                                    <label class="form-check">
                                        <input class="form-check-input" disabled type="checkbox" value="">
                                        <span class="form-check-label">
              Option two is disabled
            </span>
                                    </label>
                                </div>
                                <div>
                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="option1">
                                        <span class="form-check-label">
              1
            </span>
                                    </label>
                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="option2">
                                        <span class="form-check-label">
              2
            </span>
                                    </label>
                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" disabled type="checkbox" value="option3">
                                        <span class="form-check-label">
              3
            </span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Read only</h5>
                            </div>
                            <div class="card-body">
                                <input class="form-control" placeholder="Readonly input" readonly type="text">
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Radios</h5>
                            </div>
                            <div class="card-body">
                                <div>
                                    <label class="form-check">
                                        <input checked class="form-check-input" name="radios-example"
                                               type="radio" value="option1">
                                        <span class="form-check-label">
              Option one is this and that&mdash;be sure to include why it's great
            </span>
                                    </label>
                                    <label class="form-check">
                                        <input class="form-check-input" name="radios-example" type="radio"
                                               value="option2">
                                        <span class="form-check-label">
              Option two can be something else and selecting it will deselect option one
            </span>
                                    </label>
                                    <label class="form-check">
                                        <input class="form-check-input" disabled name="radios-example"
                                               type="radio" value="option3">
                                        <span class="form-check-label">
              Option three is disabled
            </span>
                                    </label>
                                </div>
                                <div>
                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" name="inline-radios-example" type="radio"
                                               value="option1">
                                        <span class="form-check-label">
              1
            </span>
                                    </label>
                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" name="inline-radios-example" type="radio"
                                               value="option2">
                                        <span class="form-check-label">
              2
            </span>
                                    </label>
                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" disabled name="inline-radios-example"
                                               type="radio" value="option3">
                                        <span class="form-check-label">
              3
            </span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Selects</h5>
                            </div>
                            <div class="card-body">
                                <select class="form-select mb-3">
                                    <option selected>Open this select menu</option>
                                    <option>One</option>
                                    <option>Two</option>
                                    <option>Three</option>
                                </select>

                                <select class="form-control" multiple>
                                    <option>One</option>
                                    <option>Two</option>
                                    <option>Three</option>
                                    <option>Four</option>
                                </select>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Disabled</h5>
                            </div>
                            <div class="card-body">
                                <div class="mb-3">
                                    <label class="form-label">Disabled input</label>
                                    <input class="form-control" disabled placeholder="Disabled input" type="text">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Disabled select menu</label>
                                    <select class="form-control" disabled>
                                        <option>Disabled select</option>
                                    </select>
                                </div>
                                <label class="form-check">
                                    <input class="form-check-input" disabled type="checkbox" value="">
                                    <span class="form-check-label">
            Can't check this
          </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </main>

        <footer th:insert="~{/fragments/footer::fragment-footer}"></footer>
    </div>
</div>

<script src="/js/app.js"></script>

</body>

</html>